<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div style="border-bottom:1px solid #00acc1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right col-xs-4">
				<li class="col-xs-3 t-al m-no-padding"><a class="scroll " href="/example_work">نمونه کارها</a></li>
                <li class="col-xs-3 t-al m-no-padding"><a class="scroll " href="#top">مطالب آموزشی</a></li>
                <li class="col-xs-3 t-al m-no-padding"><a class="scroll " href="#about">درباره من</a></li>
                <li class="col-xs-3 t-al m-no-padding"><a class="scroll " href="/index">خانه</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->